ul {
  background-color: rgb(226, 247, 142);
  display: flex;
  justify-content: space-evenly;
}
li {
  display: inline;
  list-style-type: none;
}
.outer {
  height: 300px;
  width: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  height: 100px;
  width: 100px;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}
