div {
  height: 100px;
  width: 100px;
  background-color: bisque;
  border: 2x solid black;
  background-image: url("b.jpg");
  background-size: cover;
  position: fixed;
  right: 0px;
  top: 20px;
}
